# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# macOS system files
.DS_Store

# Data and logs
data/
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/ 